* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.calculadora {
    box-shadow: 0 0 1em black;
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%,-50%);
    background-color: #051524;
    border-radius: 10px;
    overflow: hidden;
}
#resultado {
    background-color: #183A59;
    color: #fff;
    border-radius: 0 0 10px 10px;
    height: 100px;
    width: 100%;
    text-align: right;
    padding-right: 5px;
    padding-top: 27px;
    font-size: 35px;
}
/*Botões*/
.btn {
    width: 55px;
    height: 55px;
    border-radius: 50px;
    cursor: pointer;
    border: none;
    margin: 9px;
}
.a {
    background: #639FAB;
    color: #fff;
}
.b {
    background: #1C3347;
    color: #fff;
}
.c {
    background: #1C5D99;
    color: #fff;
}

/* Opção de cor de fundo */
.light {
    background-color: #fff;
}
.dark{
    background-color: #222222;
}

/* Butões da opção */
.btn1 {
    display: flex;
    justify-content: flex-end;
    margin-left: 10px;
    margin-top: 10px;
    border: none;
    border-radius: 8px;
    padding: 0.625rem;
    cursor: pointer;
}

#btlight {
    background: #fff;
    color: #000;
    border: 1px solid #000;
}

/* botao dark */
#btdark {
    background-color: #263238;
    color: #fff;
    border: 1px solid #fff;
}